* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


#main {
  height: 100vh;
  width: 100vmax;
  background-color: #617143;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('https://images.unsplash.com/photo-1570303345338-e1f0eddf4946?auto=format&fit=crop&q=80&w=2571&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
  background-color: #8ECDDD;
  background-size: cover;
}

#topcontainer {
  position: relative;
  height: 80vh;
  width: 60vmax;
  background-color: white;
  display: flex;
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* border-radius: 10px ; */
  /* filter: blur(8px);
    -webkit-filter: blur(8px); */
  /* backdrop-filter: blur(8px); */
  overflow: hidden;
}

.leftside {
  padding: 2vmax 0px;
  height: 100%;
  width: 50%;
  /* background-color: orange; */
  color: black;
  /* background-color: rgba(0, 0, 0, 0.1); */
  text-align: center;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.rightside {
  padding: 2vmax 0px;
  height: 100%;
  width: 50%;
  /* background-color: orange; */
  color: black;
  /* background-color: rgba(0, 0, 0, 0.1); */
  text-align: center;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; 
}

.side h1 {
  font-weight: 300;
  font-size: 1.7vmax;
  color: black;
  text-transform: uppercase;
}

.score {
  font-size: 10vmax;
  margin: 1vmax 0px;
  font-weight: 100;
}

.currentscore {
  background-color: #22668D;
  width: 30%;
  /* height: fit-content; */
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2vmax 1vmax;
  border-radius: 2px;
  font-size: 1.5vmax;
  font-weight: 100;
  margin-top: 1vmax;
  padding: 0.7vmax 0.2vmax;
  color: white;
}

.currentscore h3 {
  font-size: 0.7vmax;
  font-weight: 300;
  text-transform: uppercase;
}

.currentscore h2 {
  font-size: 2.5vmax;
  font-weight: 200;
  /* line-height: 0.5vmax; */
}

.hidden {
  display: none;
}

.options {
  display: flex;
  /* background-color: #617143; */
  justify-content: space-between;
  padding: 1vmax 20%;
  text-transform: uppercase;
}

.options h4 {
  font-weight: 600;
  z-index: 99;
}

.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vmax;
  width: 8vmax;
  text-align: center;
  justify-content: center;
  /* border: 1px solid black; */
  /* border-radius: .5vmax; */
  /* padding: 1vmax; */
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vmax;
  width: 8vmax;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
}

.hold {
  background-color: #7C9D96;
  border: none;
  color: white;
  position: absolute;
  bottom: 38%;
  z-index: 99;
}

.rolldice {
  color: white;
  font-size: 1.5vmax;
  font-weight: 500;
  background-image: url('https://images.unsplash.com/photo-1666870747605-cca30ed154c5?auto=format&fit=crop&q=80&w=2532&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  z-index: 99;
  position: absolute;
  bottom: 20%;
  /* filter: brightness(0.8); */
}

/* .rolldice  */

.newgame {
  background-color: #E9B384;
  border: none;
  color: white;
  position: absolute;
  bottom: 70%;
  z-index: 99;
}


.diceValue
{
  position: absolute;
  font-size: 4vmax;
  line-height: .5vmax;
  font-weight: 300;
  background-color: white;
  padding: 2.7vmax 1.9vmax;
  bottom: 50%;
  z-index: 99;
  border-radius: 100%;
}

.active--player
{
  background-color: #FFCC70 ;
}


/* unselectable */
*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}